@font-face {
  font-family: 'BespokeSerif-Bold';
  src: url('./assets/fonts/BespokeSerif-Bold.woff2') format('woff2'),
    url('./assets/fonts/BespokeSerif-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeSerif-Light';
  src: url('./assets/fonts/BespokeSerif-Light.woff2') format('woff2'),
    url('./assets/fonts/BespokeSerif-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BespokeSerif';
  src: url('./assets/fonts/BespokeSerif-Regular.woff2') format('woff2'),
    url('./assets/fonts/BespokeSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
