$main-font-color: whitesmoke;
$secondary-font-color: #532b0e;
$main-background-color: burlywood;
$secondary-background-color: #5e3710;

// burger ingredients colors
$burger-top-bun-color: #a27732;
$burger-top-bun-border-color: #906725;
$burger-meat-color: #7d4710;
$burger-meat-border-color: #5e3710;
$burger-cheese-color: #e8ea02;
$burger-cheese-border-color: #eab902;
$burger-lettuce-color: #80d041;
$burger-lettuce-border-color: #0f6d12;
$burger-tomato-color: #f13233;
$burger-tomato-border-color: #940c0e;
$burger-salad-color: #b95381;
$burger-salad-border-color: #7e1846;
$burger-bottom-bun-color: #a27732;
$burger-bottom-bun-border-color: #724d12;

// buttons colors
$button-add-background-color: #80d041;
$button-add-border-color: #0f6d12;
$button-remove-background-color: #f13233;
$button-remove-border-color: #940c0e;
$button-hover-background-color: #e8ea02;
$button-hover-border-color: #eab902;
$button-order-background-color: #ce32f1;
$button-order-border-color: #370a43;

//table colors
$table-font-color: rgb(91, 70, 52);
$table-main-rows-background-color: rgb(216, 159, 85);
$table-even-rows-background-color: rgb(253, 245, 238);
$table-odd-rows-background-color: rgb(247, 229, 207);
