@forward './base/variables';
// // @forward './base/fonts';
@forward './base/mixins';

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-image: linear-gradient(
    to top,
    #f4bb71 20%,
    #deb887 60%,
    #f9d6a5 100%
  );
  min-height: 100vh;
  margin: 0;
}
