@use '../../../../sass/styles.scss' as *;

.burger {
  @include centerMeColumn;
  gap: 10px;
  text-align: center;
  border: 1px solid $secondary-background-color;
  background-image: linear-gradient(135deg, #e5d9cc 0%, #fae2cf 100%);
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
  .burger__title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .burger__body {
    @include centerMeColumn;
    align-items: initial;
    width: 300px;
    gap: 8px;
  }
  .burger__ingredient {
    font-size: initial;
    font-weight: 700;
    color: $secondary-font-color;
    text-shadow: 0px 0 $main-background-color, 0px 2px $main-background-color,
      0px 0 $main-background-color, 0 0px $main-background-color;
    border-radius: 10px;
  }
}
.burger #top-bun {
  @include ingredientsShadow;
  @include bunsAnimation;
  height: 40px;
  border-radius: 50px 50px 10px 10px;
  background-color: $burger-top-bun-color;
  border-top: 9px solid $burger-top-bun-border-color;
}

.burger #meat {
  @include ingredientsShadow;
  @include ingredientsAnimation;
  border-radius: 15px;
  background-color: $burger-meat-color;
  height: 22px;
  border-bottom: 10px solid $burger-meat-border-color;
}
.burger #cheese {
  @include ingredientsShadow;
  @include ingredientsAnimation;
  background-color: $burger-cheese-color;
  height: 20px;
  border-bottom: 5px solid $burger-cheese-border-color;
}
.burger #lettuce {
  @include ingredientsShadow;
  @include ingredientsAnimation;
  background-color: $burger-lettuce-color;
  height: 18px;
  border-bottom: 3px solid $burger-lettuce-border-color;
}
.burger #tomato {
  @include ingredientsShadow;
  @include ingredientsAnimation;
  background-color: $burger-tomato-color;
  height: 22px;
  border-bottom: 5px solid $burger-tomato-border-color;
}
.burger #salad {
  @include ingredientsShadow;
  @include ingredientsAnimation;
  background-color: $burger-salad-color;
  height: 19px;
  border-bottom: 4px solid $burger-salad-border-color;
}
.burger #bottom-bun {
  @include ingredientsShadow;
  @include bunsAnimation;
  background-color: $burger-bottom-bun-color;
  border-radius: 10px 10px 50px 50px;
  height: 40px;
  border-bottom: 11px solid $burger-bottom-bun-border-color;
}
