<div class="ingredients-selector">
  <label class="ingredients-selector__title"
    >Select the ingredients you want</label
  >
  <div class="ingredients-selector__body">
    <div
      class="ingredients-selector__buttons-container"
      *ngFor="let ingredient of ingredientsService.ingredientsList">
      <button
        class="ingredients-selector__button-add {{ ingredient.name }}"
        (click)="handleAddIngredient(ingredient)">
        add 1 <b>{{ ingredient.name }}</b>
      </button>
      <button
        [id]="ingredient.name"
        class="ingredients-selector__button-remove {{ ingredient.name }}"
        (click)="handleRemoveIngredient(ingredient)">
        remove 1 <b>{{ ingredient.name }}</b>
      </button>
    </div>
  </div>
</div>
