@use '../../../../sass/styles.scss' as *;

.main-price-calculator {
  @include centerMeColumn;
  width: 100%;
  gap: 10px;
  .main-price-calculator__title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .main-price-calculator__select-currency {
    color: $secondary-font-color;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background-color: $table-main-rows-background-color;
  }
}
.main-price-calculator__table {
  text-align: center;
  border: 2px solid $secondary-background-color;
  border-spacing: 0;
  border-radius: 7px;
  tr th,
  tr td {
    font-size: 1rem;
    color: $table-font-color;
    padding: 5px;
    border-right: 1px solid $secondary-background-color;
    border-bottom: 1px solid $secondary-background-color;
    &:first-child {
      width: 90px;
      font-weight: bold;
    }
    &:nth-child(2) {
      width: 60px;
    }
    &:last-child {
      width: 120px;
      border: none;
      border-bottom: 1px solid $secondary-background-color;
    }
  }
  tr th {
    color: $secondary-font-color;
    font-weight: 600;
    background-color: $table-main-rows-background-color;
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $table-odd-rows-background-color;
    }
    tr:nth-child(even) {
      background-color: $table-even-rows-background-color;
    }
  }
  tfoot tr td {
    color: $secondary-font-color;
    font-weight: 600;
    background-color: $table-main-rows-background-color;
    border-bottom: none;
    border-right: none;
  }
}
