<div class="main-price-calculator">
  <label class="main-price-calculator__title">The cost of the burger is:</label>
  <select
    class="main-price-calculator__currency"
    (change)="handleSelect($event)">
    <option value="USD" default>USD</option>
    <option value="ARS">ARS</option>
    <option value="MXN">MXN</option>
  </select>
  <table class="main-price-calculator__table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Units</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of ingredientsSelected">
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>
          $
          {{
            (currencyExchangeRate * ingredient.price).toLocaleString('en-US', {
              maximumFractionDigits: 2,
              minimumFractionDigits: 2
            })
          }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td>
          $
          {{
            (currencyExchangeRate * totalPrice).toLocaleString('en-US', {
              maximumFractionDigits: 2,
              minimumFractionDigits: 2
            })
          }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
