@use '../../sass/styles.scss' as *;

.hamburgers__ingredients-diagram-section {
  @include centerMeColumn;
  gap: 15px;
}
.hamburgers__price-order-section {
  @include centerMeColumn;
  gap: 15px;
  align-items: stretch;
  border: 1px solid $secondary-background-color;
  background-image: linear-gradient(135deg, #e5d9cc 0%, #fae2cf 100%);
  border-radius: 5px;
  padding: 10px;
}
